/* 
font-family: "Pacifico", cursive
font-family: "Ribeye", serif;
font-family: "Quicksand", sans-serif; 

#eee1e5
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #####################
        HEADER/NAV
   ##################### */
header {
    background: #ecdce1;
    font-family: "Quicksand", sans-serif; 
}

header h1 {
    padding: 15px;
    text-align: center;
    color: #474747;
}

nav ul {
    background: #ecdce1;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
}

nav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-left: 25px;
    color: #474747;
}

nav a:hover {
    font-weight: 600;
    font-size: 18px;
}

/* #####################
           MAIN
   ##################### */
body {
    background-color: #f5eef0;
    margin: 0;
    color: #474747;
    font-family: "Quicksand", sans-serif; 
}

main {
    display: grid;
    grid-template-columns: 7fr 2fr;
    gap: 100px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    background-color: #f5eef0;
}

/* #####################
          MARKETS
   ##################### */
   .market-local {
    padding: 30px;
    display: grid;
    grid-template-rows: .7fr 3fr 3fr 3fr;
    grid-template-areas:
    "head" 
    "mem"
    "king"
    "rice";
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.market-local img {
    width: 460px;
    height: 360px;
}

.header {
    grid-area: head;
}

.memorial {
    grid-area: mem;
}

.memorial img {
    float: left;
    box-shadow: 0 4px 8px rgba(136, 135, 134, 0.3);
}

.memorial a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

.memorial a:hover {
    color: #d4b0bb;
}

.kingwood {
    grid-area: king;
}

.kingwood img {
    float: left;
    box-shadow: 0 4px 8px rgba(136, 135, 134, 0.3);
}

.kingwood a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

.kingwood a:hover {
    color: #d4b0bb;
}

.rice {
    grid-area: rice;
}

.rice img {
    float: left;
    box-shadow: 0 4px 8px rgba(136, 135, 134, 0.3);
}

.rice a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

.rice a:hover {
    color: #d4b0bb;
}

/* #####################
          SOCIALS
   ##################### */
.socials-contacts {
    background: #fffbfa;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(136, 135, 134, 0.3);
}

.socials-contacts iframe {
    align-items: center;
    padding: 10px;
    border: 0;
}

.socials-contacts ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.socials-contacts img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.socials-contacts a:hover {
    outline: #d4b0bb 3px solid;
    border-radius: 100px;
}

/* #####################
          FOOTER
   ##################### */
footer {
    background: #ecdce1;
    padding: 20px;
    margin-top: 20px;
    color: #474747;
}